.seat {
  display: inline-block;
  border-style: solid;
  margin: 10px;
  padding: 50px;
  background-color: rgb(189, 11, 27);
  border-radius: 5px;
}

.seatingChart {
  border-style: solid;
  padding: 20px;
  padding-top: 100px;
  margin: 20px;
  text-align: center;
}
